<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set User Name</title>
    <link rel="stylesheet" href="set_username.css">
</head>
<body>
<div class="container">
    <h1>Set Your Name</h1>
    <form id="setNameForm">
        <input type="text" id="username" placeholder="Enter Your Name">
        <button type="submit">Set Name</button>
    </form>
    <p id="message"></p>
</div>
<script src="set_username.js"></script>
</body>
</html>