<!-- <html>
  <head>
    <title>Chat</title>
    <style>

      input { display: block; }
      ul    { list-style: none; }

    </style>
  </head>
  <body>

    <ul id="messages"></ul>
    <form id="chatbox">
      <textarea></textarea>
      <input type="submit" value="Send" />
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

      $(function(){

        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");

        $("#chatbox").submit(function(){

          if (!msgBox.val()) return false;
          if (!socket) {
            alert("Error: There is no socket connection.");
            return false;
          }

          socket.send(msgBox.val());
          msgBox.val("");
          return false;

        });

        if (!window["WebSocket"]) {
          alert("Error: Your browser does not support web sockets.")
        } else {
          socket = new WebSocket("ws://" + document.location.host + "/dialog/login2?token=" + "015a1dbc-7c88-4489-9b3f-886467bdf361")
          socket.onclose = function() {
            alert("Connection has been closed.");
          }
          socket.onmessage = function(e) {
            messages.append($("<li>").text(e.data));
          }
        }

      });

    </script>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PP - Websockets</title>
</head>

<body>
    <div class="center">
        <h1>Amazing Chat Application</h1>
        <h3 id="chat-header">Currently in chat: general</h3>
        <h3 id="connection-header">Connected to Websocket: false</h3>

        <!--
        Here is a form that allows us to select what Chatroom to be in
        -->
        <form id="chatroom-selection">
            <label for="chatroom">Chatroom:</label>
            <input type="text" id="chatroom" name="chatroom"><br><br>
            <input type="submit" value="Change chatroom">
        </form>

        <br>
        <!--
        Textarea to show messages from users
        -->
        <textarea class="messagearea" id="chatmessages" readonly name="chatmessages" rows="4" cols="50"
            placeholder="Welcome to the general chatroom, here messages from others will appear"></textarea>

        <br>
        <!--
        Chatroom-message form is used to send messages
        -->
        <form id="chatroom-message">
            <label for="message">Message:</label>
            <input type="text" id="message" name="message"><br><br>
            <input type="submit" value="Send message">
        </form>

        <!--
        login form is used to login
        -->
        <div style="border: 3px solid black;margin-top: 30px;">
            <form id="login-form">
                <label for="receiver">receiver:</label>
                <input type="text" id="receiver" name="receiver"><br>
                <label for="username">username:</label>
                <input type="text" id="username" name="username"><br>
                <label for="password">password:</label>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form>
        </div>

    </div>

    <!--
        Javascript that is used to Connect to Websocket and Handle New messages
    -->
    <script type="text/javascript">

        // selectedchat is by default General.


        var selectedchat = "general";

        class Message {
            constructor(id,text,sender,receiver,status,time) {
                this.id = id;
                this.text = text;
                this.sender = sender;
                this.receiver = receiver;
                this.status = status;
                this.time = time
            }
        }
        /**
         * Event is used to wrap all messages Send and Recieved
         * on the Websocket
         * The type is used as a RPC
         * */
        class Event {
            // Each Event needs a Type
            // The payload is not required
            constructor(type, payload) {
                this.type = type;
                this.payload = payload;
            }
        }

        
        /**
         * SendMessageEvent is used to send messages to other clients
         * */
        class SendMessageEvent {
            constructor(text) {
                this.text = text;
            }
        }
        /**
         * NewMessageEvent is messages comming from clients
         * */
        class NewMessageEvent {
            constructor(text, sender, time) {
                this.text = text;
                this.sender = sender;
                this.time = time
            }
        }

        /**
         * routeEvent is a proxy function that routes
         * events into their correct Handler
         * based on the type field
         * */
        function routeEvent(event) {

            if (event.type === undefined) {
                alert("no 'type' field in event");
            }
            switch (event.type) {
                case "new_message":
                    // Format payload
                    var msgEvent = new NewMessageEvent
                    msgEvent = JSON.parse(event.payload)
                    console.log("event payload is", msgEvent)
                    const messageEvent = Object.assign(new NewMessageEvent, event.payload);

                    appendChatMessage(msgEvent);
                    break;
                default:
                    alert("unsupported message type");
                    break;
            }

        }
        /**
         * appendChatMessage takes in new messages and adds them to the chat
         * */
        function appendChatMessage(messageEvent) {

            // console.log("sent date is", JSON.stringify(messageEvent.))
            // var date = new Date(messageEvent.time);
            // format message
            const formattedMsg = `${messageEvent.sender}: ${messageEvent.text}`;
            // Append Message
            textarea = document.getElementById("chatmessages");
            textarea.innerHTML = textarea.innerHTML + "\n" + formattedMsg;
            textarea.scrollTop = textarea.scrollHeight;
        }

        /**
         * ChangeChatRoomEvent is used to switch chatroom
         * */
        class ChangeChatRoomEvent {
            constructor(name) {
                this.name = name;
            }
        }
        /**
         * changeChatRoom will update the value of selectedchat
         * and also notify the server that it changes chatroom
         * */
        function changeChatRoom() {
            // Change Header to reflect the Changed chatroom
            var newchat = document.getElementById("chatroom");
            if (newchat != null && newchat.value != selectedchat) {
                selectedchat = newchat.value;
                header = document.getElementById("chat-header").innerHTML = "Currently in chat: " + selectedchat;

                let changeEvent = new ChangeChatRoomEvent(selectedchat);
                sendEvent("change_room", changeEvent);
                textarea = document.getElementById("chatmessages");
                textarea.innerHTML = `You changed room into: ${selectedchat}`;
            }
            return false;
        }
        /**
         * sendMessage will send a new message onto the Chat
         * */
        function sendMessage() {
            var newmessage = document.getElementById("message");
            if (newmessage != null) {
                let outgoingEvent = new SendMessageEvent(newmessage.value);
                sendEvent("send_message", outgoingEvent)
            }
            return false;
        }

        /**
         * sendEvent
         * eventname - the event name to send on
         * payload - the data payload
         * */
        function sendEvent(eventName, payload) {
            // Create a event Object with a event named send_message
            const event = new Event(eventName, JSON.stringify(payload));

            console.log(JSON.stringify(event))
            // Format as JSON and send
            conn.send(JSON.stringify(event));
        }
        /**
         * login will send a login request to the server and then 
         * connect websocket
         * */
        function login() {
            let formData = {
                "login": document.getElementById("username").value,
                "password": document.getElementById("password").value
                // "login": "login1",
                // "password": "password1"
            }
            let receiver = document.getElementById("receiver").value;
            // Send the request
            fetch("login", {
                method: 'post',
                body: JSON.stringify(formData),
                mode: 'cors',
            }).then((response) => {
                if (response.ok) {
                    
                    return response.json();
                } else {
                    throw 'unauthorized';
                }
            }).then((data) => {
                // Now we have a OTP, send a Request to Connect to WebSocket
                getDialogMessages(data.Value, receiver);
                connectWebsocket(data.Value, receiver);
                // connectWebsocket(data.Value, receiver);
            }).catch((e) => { alert(e) });
            return false;
        }

        function getDialogMessages(token, receiver) {
            document.cookie = "sessionToken=" + (token || "") + "; path=/";
            fetch("dialog/"+ receiver, {
                method: 'get',
                mode: 'cors',
            })
            .then(response => response.json())
            .then(data => {
                data.map(msg => appendChatMessage(msg))
                console.log(data)
            })
            // .then((token, receiver) => {
            //     console.log(token, receiver)
            //     connectWebsocket(token, receiver)
            // })
         
        }
        /**
         * ConnectWebsocket will connect to websocket and add listeners
         * */
        function connectWebsocket(token, receiver) {
            // Check if the browser supports WebSocket
            if (window["WebSocket"]) {
                console.log("supports websockets");
                // Connect to websocket using OTP as a GET parameter
                conn = new WebSocket("ws://" + document.location.host + "/dialog/"+ receiver +"/ws?token=" + token);

                // Onopen
                conn.onopen = function (evt) {
                    document.getElementById("connection-header").innerHTML = "Connected to Websocket: true";
                }

                conn.onclose = function (evt) {
                    // Set disconnected
                    document.getElementById("connection-header").innerHTML = "Connected to Websocket: false";
                }

                // Add a listener to the onmessage event
                conn.onmessage = function (evt) {
                    console.log(evt.data);
                    // parse websocket message as JSON
                    const eventData = JSON.parse(evt.data);
                    // Assign JSON data to new Event Object
                    const event = Object.assign(new Event, eventData);
                    // Let router manage message
                    routeEvent(event);
                }

            } else {
                alert("Not supporting websockets");
            }
        }
        /**
         * Once the website loads
         * */
        window.onload = function () {
            // Apply our listener functions to the submit event on both forms
            // we do it this way to avoid redirects
            document.getElementById("chatroom-selection").onsubmit = changeChatRoom;
            document.getElementById("chatroom-message").onsubmit = sendMessage;
            document.getElementById("login-form").onsubmit = login;


        };
    </script>

    <style type="text/css">
        body {
            overflow: hidden;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
            background: rgb(66, 56, 56);
        }

        .center {
            margin: auto;
            width: 50%;
            border: 3px solid green;
            padding: 10px;
        }
    </style>

</body>

</html>


<!-- socket = new WebSocket("ws://" + document.location.host + "/dialog/login2?token=" + "015a1dbc-7c88-4489-9b3f-886467bdf361") -->